.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header stays above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  padding: 20px;
  width: 100vw; /* Full viewport width */
  color: #e6e6e6;
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2),
    0px 0px 20px rgba(0, 0, 255, 0.15);
  border-bottom: 2px solid #00adb5;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure nav spans the header width */
  align-items: center;
}

.emoji {
  font-size: 30px; /* Emoji size */
  padding-right: 15px; /* Space between emoji and links */
}

.resmark-logo {
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 30px; /* Spacing between the links */
}

.nav-links a {
  color: #e6e6e6; /* Light text for links */
  text-decoration: none;
  font-size: 18px; /* Font size for links */
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #5ed1ff;
  transform: scale(1.05); /* Slight scale effect on hover */
}

.username {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  color: #0071e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
